@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave&display=swap');

:root
{
    --blue: #2444f9;
}

*{
    font-family: 'Sedgwick Ave', cursive;
    margin:0;padding:0;
    box-sizing:border-box;
    text-decoration: none;
    outline: none;border:none;
    text-transform: lowercase;
    transition: all .2s linear;
}

*::selection
{
    background:var(--blue);
    color:#333;
}
html
{
    font-size:62.5%;
    overflow-x:hidden;
}

html::-webkit-scrollbar
{
    width:1.4rem;
}

html::-webkit-scrollbar-track
{
    background:#222;
}

html::-webkit-scrollbar-thumb
{
    background: var(--blue);
}

body
{
    background: #111;
    overflow-x:hidden;
}

header{
    position:fixed;
    top:0;left:0;
    z-index:1000;
    height:100%;
    width:35rem;
    background: #1a1a1a;
    display:flex;
    align-items:center;
    align-items:center;
    justify-content:center;
    flex-flow:column;
    text-align:center;
}

header .user img{
    height:17rem;
    width:17rem;
    border-radius:50%;
    object-fit:cover;
    margin-bottom:1rem;
    border: .7rem solid var(--blue);
}